<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SignUp</title>
        <link href="static/css/style.css" rel="stylesheet">
      </head>
<body>
<h1>Please sign in</h1>

<form action="/sign" method="POST">
    <div>
        <label for="User name">Name :</label>
        <input type="text" name="fname" class="login-form-field">
    </div>
    <div>
        <label for="Password">Password&nbsp;:</label>
        <input type="text" name="lname" class="login-form-field">
    </div>
    <div>
        <input type="submit" value="Sign In" class="login-form-submit">
    </div>
    <div><img src="static/Photos/ItmoPic.png" alt="Italian Trulli", width="800" height="400"></div>
</form>

</body>
</html>